<!-- app/views/reviews/_review.html.erb -->

<div class="review-card">
  <span class="review-rating"><%= "â­" * review.rating %></span> - <small>less than a minute ago</small>
  <p class="review-content"><%= review.content %></p>
</div>
